@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("./assets/images/bg.jpg.jpg");
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;

}

nav {
    max-width: 60vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
    margin: auto;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(57, 57, 57);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.069);
    border: 1px solid white;
    cursor: pointer;
}



.btn-red {
    background-color: red;
    color: white;

    background-color: red;
    color: white;
    padding: 7px 27px;
    font-size: 17px;
    border-radius: 4px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(25, 25, 25, 0.7);
    border: 1px soli rgbd(246, 238, 238, 0.5);
}


.btn-red-sm {
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .first{
        flex-wrap: wrap;
    }
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555PX;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}


section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34PX 0;
}

section.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}



section.first > div :nth-child(2){
    font-size: 24px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 0.2s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

.faqbox:hover{
    background-color: rgba(65, 65, 65, 1);
    color: white;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .first{
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr ;
        color: white;
    }
}

.footer a{
    font-size: 14px;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;

}