*{
  margin: 0;
  padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("./assets/images/bg.jpg.jpg");
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
}
.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
   
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    display: flex;
    margin: auto;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10 ;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;

}
.hero>:nth-child(2){
    font-weight: 400;
    font-size: 24px;
}
.hero>:nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center ;
}
.seperation{
    height: 7px;
    background-color: rgb(46, 45, 45);
}